In [1]:
import pandas as pd

In [4]:
pwd

'/Users/pcandia/Documents/GEMINI/Proyecto/Ventgates/tablas/VentGateProject/Tablas_csv/ML_work/ECS_position/ECS2'

In [2]:
tb1=pd.read_csv('proc2_f_p2_w_2.csv')

In [3]:
tb1.head()

,fecha,datetime,ecs_az_pos,topshut_pos,botshut_pos,eastVent_pos,westVent_pos,pwfs2_see,windSp
0,NaN,44561.74931,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,4.3
1,12/31/21 18:01,44561.75069,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1
2,12/31/21 18:02,44561.75139,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1
3,12/31/21 18:04,44561.75278,0.0,0.0,0.0,0.0,0.0,-0.1,3.6
4,12/31/21 18:05,44561.75347,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1

In [10]:
tb1.shape

(362717, 9)

abrimos archivo con direccion del viento pero con datetime en formato general usado por excel.

In [25]:
tb2=pd.read_csv('winddir2_2022.csv')

In [26]:
tb3 = tb2.sort_values("datetime", ascending=True)

In [27]:
tb3.head(10)

      datetime  windDir
0  44561.74998      158
1  44561.75033      139
2  44561.75068      156
3  44561.75103      155
4  44561.75138      139
5  44561.75172      142
6  44561.75207      153
7  44561.75276      138
8  44561.75312      151
9  44561.75345      140

In [28]:
tb3.shape

(516249, 2)

vamos hacer un merge entre tb1 y tb2.

In [29]:
tb4=pd.merge(tb1, tb2, on='datetime', how='outer')

In [30]:
tb5=tb4.sort_values("datetime", ascending=True)

In [31]:
tb5.to_csv('tabla1.csv', index=False)

como la tabla winddir es mas extensa eliminamos las filas extras

In [32]:
first_row= 822310
end_row=832373

In [33]:
tb6 = tb5.drop(tb5.index[first_row:end_row])

In [34]:
tb6.to_csv('tabla2.csv')

In [36]:
tb6.head(10)

,fecha,datetime,ecs_az_pos,topshut_pos,botshut_pos,eastVent_pos,westVent_pos,pwfs2_see,windSp,windDir
0,NaN,44561.74931,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,4.3,NaN
362736,NaN,44561.74998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158.0
362737,NaN,44561.75033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.0
362738,NaN,44561.75068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156.0
1,12/31/21 18:01,44561.75069,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1,NaN
362739,NaN,44561.75103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.0
362740,NaN,44561.75138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.0
2,12/31/21 18:02,44561.75139,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1,NaN
362741,NaN,44561.75172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.0
362742,NaN,44561.75207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,153.0

In [37]:
tb6['ecs_az_pos'].fillna(-0.1, inplace=True)

In [38]:
tb6['topshut_pos'].fillna(-0.1, inplace=True)

In [39]:
tb6['botshut_pos'].fillna(-0.1, inplace=True)

In [40]:
tb6['eastVent_pos'].fillna(-0.1, inplace=True)

In [41]:
tb6['westVent_pos'].fillna(-0.1, inplace=True)

In [42]:
tb6['pwfs2_see'].fillna(-0.1, inplace=True)

In [43]:
tb6['windSp'].fillna(-0.1, inplace=True)

In [44]:
tb6['windDir'].fillna(-0.1, inplace=True)

In [53]:
tb6.head(10)

,fecha,datetime,ecs_az_pos,topshut_pos,botshut_pos,eastVent_pos,westVent_pos,pwfs2_see,windSp,windDir
0,NaN,44561.74931,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,4.3,-0.1
362736,NaN,44561.74998,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,158.0
362737,NaN,44561.75033,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,139.0
362738,NaN,44561.75068,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,156.0
1,12/31/21 18:01,44561.75069,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1,-0.1
362739,NaN,44561.75103,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,155.0
362740,NaN,44561.75138,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,139.0
2,12/31/21 18:02,44561.75139,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1,-0.1
362741,NaN,44561.75172,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,142.0
362742,NaN,44561.75207,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,153.0

In [46]:
tb6.to_csv('tabla2.csv')

In [50]:
tb6.columns

Index(['fecha', 'datetime', 'ecs_az_pos', 'topshut_pos', 'botshut_pos',
       'eastVent_pos', 'westVent_pos', 'pwfs2_see', 'windSp', 'windDir'],
      dtype='object')

### Completando fecha: date+hour+min+sec
usando script proc22_Decimal.py --> output: tabla2_fin1.csv

In [56]:
pwd

'/Users/pcandia/Documents/GEMINI/Proyecto/Ventgates/tablas/VentGateProject/Tablas_csv/ML_work/ECS_position/ECS2'

In [67]:
tb7=pd.read_csv('tabla2_fin1.csv')

In [68]:
tb7.head()

,date,hora,datetime,ecs_az_pos,topshut_pos,botshut_pos,eastVent_pos,westVent_pos,pwfs2_see,windSp,windDir
0,12/31/21,17:59:00,44561.74931,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,4.3,-0.1
1,12/31/21,17:59:58,44561.74998,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,158.0
2,12/31/21,18:00:28,44561.75033,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,139.0
3,12/31/21,18:00:58,44561.75068,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,156.0
4,12/31/21,18:00:59,44561.75069,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1,-0.1

le agregaremos nombre a las columnas de manera manual.