In [1]:
import pandas as pd

In [2]:
tb1=pd.read_csv('proc2_f_p2_w_2.csv')

In [3]:
tb1.head()

,fecha,datetime,ecs_az_pos,topshut_pos,botshut_pos,eastVent_pos,westVent_pos,pwfs2_see,windSp
0,NaN,44561.74931,-0.1,-0.1,-0.1,-0.1,-0.1,-0.1,4.3
1,12/31/21 18:01,44561.75069,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1
2,12/31/21 18:02,44561.75139,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1
3,12/31/21 18:04,44561.75278,0.0,0.0,0.0,0.0,0.0,-0.1,3.6
4,12/31/21 18:05,44561.75347,0.0,0.0,0.0,0.0,0.0,-0.1,-0.1

In [ ]:
tb2=pd.read_csv('winddir_2022.c')